@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 7px;
    color: burlywood;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}

body {
    font-family: 'Dancing Script', sans-serif;
    height: auto;
    width: auto;
    background-color: ivory;
}

a {
    text-decoration: none;
    color:burlywood;
}

a:hover {
    color: salmon;
}

.listH1 {
    padding: 30px 0px 20px 15px;
    color: salmon;
}

h3 {
    padding: 15px 0px 20px 20px;
}

.all-food-main {
    padding: 0px 15px;
    color: rgb(237, 146, 0);
    padding: 20px 20px 25px 62px;
}

thead,
tfoot {
    background-color: rgb(129, 173, 212);
    color: black;
}

tbody {
    background-color: rgba(255, 235, 205, 0.551);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    margin: 25px;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 4px 4px;
    text-align: center;
}

img {
    height: 175px;
    margin-left: 15px;
}

.listDiv {
    padding-left: 15px;
}

header {
    border-bottom: 2px solid black;
    padding: 15px 0px 15px 15px;
    background-color: rgb(42, 123, 42);
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(42, 123, 42);
    color:ivory;
    padding: 12px 0px 0px 15px;
}

ol {
    padding: 15px 0px 70px 40px;
}

main {
    background-color: ivory;
}

.listMain {
    background-color: ivory;
}

.stars {
    padding: 0px 0px 0px 16px;
    color: goldenrod;
}

.spacerDiv {
    padding-bottom: 50px;
}

#recipeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background-color: ivory;
}

.detailH1 {
    padding: 25px 0px 25px 25px;
    color: burlywood;
}

.detailDivStars {
    padding-left: 15px;
    color: goldenrod;
}

.detailH2 {
    padding-left: 25px;
    color:burlywood;
}

#detailH2 {
    padding: 25px 0px 0px 62px;
    color: burlywood;
}

.recipeIndividual {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.recipeIndividual:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* Credit to https://getcssscan.com/css-box-shadow-examples #15 */
}
